:root { /*Store Variables Here*/
	--main-border-color: lightblue;
	--cart-bg-color: white;
}

.top-right {
	border-bottom: 1px solid var(--main-border-color);
	display: grid;
	text-align: center;
	grid-area: top-right;
	grid-template-areas:
	'login help cart cart';
}

.top-right > .login {
	font-weight: bold;
	grid-area: login;
	position: relative;
	vertical-align: middle;
	top: 4px;
}

.top-right > .help {
	font-weight: bold;
	grid-area: help;
	position: relative;
	vertical-align: middle;
	top: 4px;
}

.top-right > .cart {
	grid-area: cart;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.top-right > .cart  > .icon_nohover {
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

.top-right > .cart > .icon_hover {
	display: none;
}

.top-right > .cart:hover > .icon_hover {
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

.top-right > .cart:hover > .icon_nohover {
	display: none;
}


.top-right > .cart:hover {
	background-color: var(--cart-bg-color);
}

.top-right > .cart:hover {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.top-right > .cart > .cart_content { /*default*/
	position: absolute;
	right: 1px;
	display: none;
	padding: 3px;
	background-color: var(--cart-bg-color);
	border-top-right-radius: 5px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid black;
	border-top: 0;
	z-index: 0;
}

.top-right > .cart > .cart_content > p > .item {
	width: 150px;
}

.top-right > .cart:hover > .cart_content {
	position: absolute;
	display: block;
	width: 15%;
}

.top-right > .login > a, .top-right > .help > a {
	color: white;
	text-decoration: none;
}
