/*This CSS file is connected to index.html */
:root { /*Store Variables Here*/
	--main-border-color: lightblue;
	--cart-bg-color: white;
}

* {
	
}


.container_grid {
	display: grid;
	grid-template-areas:
	'header header header header header header header top-right top-right top-right top-right top-right'
	'menu menu menu menu menu menu menu menu menu menu menu menu'
	'gap-left gap-left gap-left gap-left main main main main gap-right gap-right gap-right gap-right '
	'footer footer footer footer footer footer footer footer footer footer footer footer';
	padding: 0px;
	grid-gap: 0px;
	position: absolute;
	width: 100%;
	max-height: 250px;
	top: 0;
	left: 0;
}

.container_grid > div {

	background-color: white;
}

.header {
	position: fixed;
	width: 100%;
	height: 30px;
	grid-area: header;
	background-color: #8288a1 !important;
	z-index:99;
	box-shadow: 0px 1px 6px 1px rgba(25, 25, 25, 0.3) !important; 
}

.top-right {
	position: fixed;
	width: 20%;
	right: 0;
	grid-area: top-right;
	z-index: 100;
	height: 30px;
	background-color: #8288a1 !important;
}

.menu {
	grid-area: menu;
}

.main {
	grid-area: main;
	display: grid;
	min-height: 450px;
	border-bottom: 1px solid var(--main-border-color);
}

.right {
	grid-area: right;
}

.gap-right {
	grid-area: gap-right;
}

.gap-left {
	grid-area: gap-left;
}

.footer {
	grid-area: footer;	
	box-shadow: 0px 1px 2px 1px rgba(25, 25, 25, 0.3) !important; 
	background-color: #8288a1 !important;
	bottom: 0px;
	min-height: 200px;
}

@media all and (max-width: 800px) {

	.footer iframe {
		position: relative;
		left: -10px;
		height: 200px;
	}
}

@media all and (min-width: 800px) and (max-width: 1200px) {
  /* For large mobile phones / tablets */
  .footer iframe {
	position: relative;
	left: -10px;
	height: 200px;
	}
}

.content2 {
	box-shadow: 0px 1px 6px 1px rgba(25, 25, 25, 0.3) !important; 
	margin-bottom: 20px;
	height: 230px;
	padding: 10px;
}

