.container_grid {
	grid-template-areas:
	'header header header header header header header top-right top-right top-right top-right top-right'
	'menu menu menu menu menu menu menu menu menu menu menu menu'
	'gap-left main main main main main main main main main main gap-right '
	'footer footer footer footer footer footer footer footer footer footer footer footer' !important;
}

.main {
	width: 100%;
	min-height: 1000px;
	display: grid;
	grid-template-columns: 15% 85%;
	margin-bottom: 20px;
}

.main img {
	width: 250px;
	height: 130px;
}

 .content {
	width: 90%;
  	display: grid;
  	grid-template-areas: "a a a a";
  	grid-gap: 10px;
  	grid-auto-rows: 330px;
}

@media all and (max-width: 800px) {
  /* For mobile phones: */
html {
	overflow-x: hidden !important;
}
.content {
	position: relative;
    grid-template-areas: "a a";
    grid-gap: 100px;
    width: 90%;
  }

.main {
	grid-template-columns: 0% 100%;
}

.items, .main img {
	width: 200px;
	height: 150px;
}
  
}

@media all and (min-width: 800px) and (max-width: 1200px) {
  /* For mobile phones: */
body {
	overflow-x: hidden !important;
}
.content {
    grid-template-areas: "a a a";
    grid-gap: 10px;
    padding-right: 0;
     width: 750px;
  }

.main {
	grid-template-columns: 20% 100%;
}

.items, .main img {
	width: 200px;
	height: 150px;
}
  
}

.item-name {
	position: relative;
	width: 100%;
	height: 27%;
	text-align: center;
	color: black;
	bottom: 0;
	background-color: white;
}

.item-price-container {
	position: relative;
	width: 100%;
	height: 44px;
	background-color: #D2FFC8;
}

.item-price {
	position: relative;
	width: 100%;
	height: 20%;
	top: 30%;
	text-align: center;
	color: black;
	background-color: #D2FFC8;
	padding-bottom: 0 !important;
	font-weight: bold;
}

.items {
	height: 250px;
	z-index: 0;
	background-color: white;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.5);
	transition: transform 300ms ease;
	
}

.items:hover {
	position: relative;
	box-shadow: 0 2px 30px 0;
	transform: scale(1.03);
	z-index: 1;
}

.items:hover .item-price-container, .items:hover .item-price{
	position: relative;
	background-color: green;
	color: white;
}

.item-price-container:hover {
	cursor: pointer;
}


.shop_nav_container {
	position: relative;
	margin-top: 30px;
	width: 25%;
	height: 30px;
	margin-bottom: 30px;
	text-align: center;
	background-color: gray;
	color: white;
	padding: 10px;
	border-radius: 5px;
	left: 30%;
	display: none;
}


.shop_nav_container:hover {
	background-color: silver;
	color: black;
	cursor: pointer;
}

.shop_nav {
	position: relative;
	width: 100%;
	height: 100%;
	top: 5px;
}

.advertisement {
	position: relative;
	color: red;
	z-index: 1;
	top: 40px;
	width: 100%;
	height: 50%;
}

.advertisement > img {
	height: 900px;
	width: 100%;
}


.sort {
	position: relative;
	width: 90%;
	left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	color: white;
	padding-bottom: 10px;
}

.sort .price, .sort .reset {
	width: 100%;
	background-color: gray;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 10px;
	border-radius: 5px;
}

.sort .reset:hover {
	width: 100%;
	background-color: lightgray;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
}

.dropdown1{
	position: relative;
	z-index: -10;
	background-color: lightgray;
	cursor: pointer;
}

.reset {
	position: relative;
	background-color: lightgray;
	cursor: pointer;
	top: 20px;
	margin-bottom: 100px;
}

#lowest {
	border-bottom: 1px solid white;
}

.price {
	margin-bottom: 100px;
	height: 30px;
}

.price:hover {
	cursor: pointer;
}

.sort .price:hover .dropdown1{
	display: block;
}

.sort .dropdown1:hover {
	background-color: silver;
	color: white;
}

.caution {
	position: relative;
	color: red;
	font-weight: bold;
	font-size: 20px;
}

#popupCover {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.85);
	z-index: 1000;
	display: none;
	top: 0;
	left: 0;
}

#itemInfoPopUp {
	position: fixed;
	z-index: 1001;
	width: 75%;
	left: 0;
	right: 0;
	margin: auto;
	height: 60%;
	top: 200px;
	background-color: white;
}

#itemInfoContent {
	position: relative;
	width: 98%;
	height: 90%;
	left: 0;
	top: -10px;
	background-color: white;
	margin: 0.9%;
}

#x-button {
	position: relative;
	width: 15px;
	height: 15px;
	padding: 10px;
	color: white;
	font-weight: bold;
	background-color: rgba(0,0,0,0.95);
	cursor: pointer;
}

#x-button:hover {
	background-color: rgba(0,0,0,0.45);
}

* { /*Disables text selection*/
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}