
@media screen and (min-width: 1201px) and (max-width: 1600px) {
 .content {
		width: 90%;
  		display: grid;
  		grid-template-columns: 1fr 1fr 1fr !important;	
  		grid-auto-rows: 240px !important;
	}


}



@media screen and (min-width: 1000px) and (max-width: 1200px) {
 .content {
		width: 90%;
  		display: grid;
  		grid-template-columns: 1fr 1fr 1fr !important;
  		padding: 0px !important;
  		grid-auto-rows: 210px !important;
  		padding: 0px !important;
		margin-left: 4px;
	}
	.content img {
		width: 150px !important;
		height: 100px !important;
		padding-left: 30px !important;
	}
	.items {
		height: 165px !important;
		width: 250px !important;
		padding-bottom: 0 !important;
	}
	.item-price-container {
		width: 100.05%;
		height: 44px;
		bottom: -40px !important;
		background-color: green;
	}
	.item_count {
		right: 1% !important;
	
	}
}

@media screen and (min-width: 635px) and (max-width: 999px) {
	.itemAdded {
		display: none;
		
	}
	.main {
		grid-template-columns: 0% 100% !important;
		margin-top: 20px !important;
	}
	.content {
		width: 90%;
  		display: grid;
  		grid-template-columns: 1fr 1fr !important;
  		padding: 0px !important;
  		grid-auto-rows: 240px !important;
  		padding: 0px !important;
		margin-left: 4px;
	}
	.sort {
		display: none;	
	}
	.shop_nav_container {
		width: 100px !important;
		left: 260px !important;
	}
}
@media screen and (max-width: 634px) { 
	.content {
		width: 90%;
  		display: grid;
  		grid-template-columns: 1fr !important;
  		padding: 0px !important;
  		grid-auto-rows: 240px !important;
  		padding: 0px !important;
		margin-left: 4px;
	}
	.sort {
		display: none;	
	}
	.shop_nav_container {
		width: 100px !important;
		left: 180px !important;
	}
	.items {
		width: 350px !important;
		margin-left: 65px !important;
	}
}
.container_grid {
	grid-template-areas:
	'header header header header header header header top-right top-right top-right top-right top-right'
	'menu menu menu menu menu menu menu menu menu menu menu menu'
	'gap-left main main main main main main main main main main gap-right '
	'footer footer footer footer footer footer footer footer footer footer footer footer' !important;
}

.main {
	width: 100%;
	min-height: 1000px;
	display: grid;
	grid-template-columns: 15% 85%;
	margin-bottom: 20px;
}

.main .items img {
	width: 250px;
	height: 130px;
	margin-left: 8%;
}

 .content {
	width: 90%;
  	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr;
  	grid-gap: 12px;
  	padding-left: 20px;
  	grid-auto-rows: 255px;
}



.item-name {
	position: relative;
	width: 100%;
	height: 20%;
	text-align: center;
	padding-top: 10px;
	border-top: 1px solid gray;
	color: black;
	bottom: 0;
	background-color: white;
}

.item-name font:first-child {
	font-size: 18px !important;
}


.item-name font:last-child:hover {
	cursor: pointer;
}

.item-price-container {
	position: absolute !important;
	width: 100.05%;
	height: 44px;
	bottom: -1px;
	background-color: green;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.item-price {
	position: absolute;
	width: 100%;
	height: 20%;
	top: 30%;
	text-align: center;
	color: white;
	background-color: green;
	padding-bottom: 0 !important;
	font-weight: bold;
}

.items {
	position: relative;
	height: 233px;
	width: 300px;
	z-index: 0;
	border-radius: 3px;
	margin: 5px;
	background-color: white;
	box-shadow: -2px 5px 25px 3px rgba(0, 0, 0, 0.4);
	transition: transform .1s ease-in-out, box-shadow 0.1s linear;
	overflow: hidden;
	
}

.items:hover {
	position: relative;
	box-shadow: 0px 5px 25px 7px rgba(0, 0, 0, 0.6);
	transform: scale(1.015);
	z-index: 1;
	cursor: default;
}

.items > img {
	transition: transform .2s ease-out;
}

.items:hover .item-price-container {
	box-shadow: 0px 8px 25px -12px rgba(0, 0, 0, 0.6) !important; 
}

#longDescButton:hover {
	color: lightblue;
}

.item-price-container:hover , .item-price-container:hover .item-price {
	position: relative;
	background-color: #B4B7C6;
	color: white;
}

.item-price-container , .item-price-container .item-price {
	position: relative;
	background-color: #8288a1;
	color: white;
	transition: background-color 0.1s linear, color 0.1s linear;
}

.item-price-container:hover {
	cursor: pointer;
}


.shop_nav_container {
	position: relative;
	margin-top: 30px;
	width: 25%;
	height: 30px;
	margin-bottom: 30px;
	text-align: center;
	background-color: #8288a1;
	color: white;
	padding: 10px;
	border-radius: 5px;
	left: 30%;
	display: none;
}


.shop_nav_container:hover {
	background-color: #B4B7C6;
	color: white;
	cursor: pointer;
}

.shop_nav {
	position: relative;
	width: 100%;
	height: 100%;
	top: 5px;
}

.advertisement {
	position: relative;
	color: red;
	z-index: 1;
	top: 40px;
	width: 100%;
	height: 50%;
}

.advertisement > img {
	height: 900px;
	width: 100%;
}


.sort {
	position: relative;
	width: 90%;
	left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	color: white;
	padding-bottom: 10px;
}

.sort .price, .sort .reset, .item_type {
	width: 100%;
	background-color: #8288a1;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 10px;
	border-radius: 5px;
}

.sort .reset:hover {
	width: 100%;
	background-color: #B4B7C6;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.dropdown1{
	position: relative;
	z-index: -10;
	background-color: #aeb2c2;
	cursor: pointer;
	font-size: 20px;
	padding-top: 2px;
	transition: background-color .2s ease;
}

.reset {
	position: relative !important;
	margin-top: 10px !important;
	cursor: pointer;
}

#lowest {
	border-bottom: 0.2px solid white;
}

.price {
	padding-top: 10px;
	margin-bottom: 40px;
	height: 30px;
}

.sort .price:hover .dropdown1{
	display: block;
}

.sort .dropdown1:hover {
	background-color: #9196ac;
	color: white;
}

.p_container {
	position: relative;
	top: -4px;
}

.caution {
	position: relative;
	color: red;
	font-weight: bold;
	font-size: 20px;
}

#popupCover {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.85);
	z-index: 900;
	display: none;
	top: 0;
	left: 0;
}



#itemInfoPopUp {
	position: fixed;
	z-index: 1000000;
	width: 1200px;
	left: 0;
	right: 0;
	margin: auto;
	height: 600px;
	top: 200px;
	background-color: white;
}

#itemInfoContent {
	position: relative;
	z-index: 1000000;
	width: 98%;
	height: 90%;
	left: 0;
	top: -10px;
	background-color: white;
	margin: 0.9%;
	display: grid;
	grid-template-columns: 40% auto;
}

#dispCol1 {
	margin-left: 20px;
	border-right: 1.5px solid black;
	padding-right: 20px;
	overflow-y: scroll;
	overflow-x: none;
}

#dispCol1 .item-price{
	position: relative;
	margin-left: 30px;
	background-color: gray;
	height: 30px;
	width: 100px;
	border-radius: 4px;
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.09);
	top: 10px;
	padding-top: 10px;
	color: black;
}


#dispCol1 img {
	width: 100%;
	height: 200px;
}


#dispCol1 .item-price:hover{
	cursor: not-allowed;
}

.cart_table {
	table-layout: fixed;
}

.cart_img {
	width: 65px;
	height: 35px;
}

.image {
	width: 150px;
	overflow: hidden;
	
}

.item_name {
	width: 150px;
}

.itemAdded {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 25px;
	position: fixed;
	width: 220px;
	height: 150px;
	padding: 10px;
	border-radius: 16px;
	background-color: rgba(0,0,0,0.3);
	left: 0;
	right: 0;
	margin: auto;
	top: 30%;
	z-index: 0;
}


.item_count {
	position: absolute;
	padding-top: 5px;
	width: 30px;
	z-index: 100;
	right: 5%;
	text-align: center;
	height: 100%;
	font-weight: bold;
	color: white;
	font-size: 14px;
	
}

.cart_content:hover .item_count, .cart:hover .item_count {
	color: black;
	z-index: 4000; 
}

#dispCol2 {
	margin-left: 10px;
	font-weight: bold;
	font-size: 20px;
}

#x-button {
	position: relative;
	width: 15px;
	height: 15px;
	padding: 10px;
	color: white;
	font-weight: bold;
	background-color: rgba(0,0,0,0.95);
	cursor: pointer;
}

.cart_table {
	border-left: none;
	width: 100%;
	border-right: none;
	border-top: none;
	border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
}

.cart_table th {
	padding-bottom: 10px;
	border-bottom: 1px solid silver;
}

.cart_table td {
	padding-top: 5px;
}

.cart_table:last-child {
	border-bottom: 1px solid silver;
}

.cart_table #thead-name {
	width: 150px;
}

* {
	transition: background-color .2s ease;
}

#x-button:hover {
	background-color: rgba(0,0,0,0.45);
}